.border-form {
  border-radius: "15px";
  box-shadow: "0px 2px 4px rgba(0, 0, 0, 0.5)";
}

#productos {
  background-image: url("assets/img/fondo-productos.jpg");
}

header {
  background: linear-gradient(to top, white, white, #dce9f0);
}

footer {
  background: linear-gradient(to bottom, white, #eaeff2, #dce9f0);
}

.manejarFavorito {
  cursor: pointer;
  position: absolute;
  right: 5px;
  bottom: 5px;
  z-index: 1;
  font-size: 20px
}

#login {
  height: 100%vh;
  margin: 0 auto;
  padding: 100px 100px;
  background-color: #eaeff2
}